h1
{
    font-size: 50px;
    font-weight: bold;
    font-family: Impact;
    text-align: center;
}
.secondary-pages
{
    font-size: 20px;
    text-decoration: underline;
}
#home-nav
{
    font-size: 1.3em;
}
#home-nav a:link, #home-nav a:visited
{
    text-decoration: none;
}
#home-nav a:hover, #home-nav a:focus, #home-nav a:active
{
    text-decoration: underline;
}
p
{
    font-size: 15px;
}
.entertainment-photos img
{
    width: 200px;
}
.history-photos img
{
    width: 230px;
}
.community-photos img
{
    width: 230px;
}
blockquote
{
    font-style: italic;
    text-align: center;
}
header
{
    padding: 5px 0px 10px;
	background: #9109b3;
	width: 100%;
    min-height: 100px;
    position: fixed;
    z-index: 1;
}
#contain-left
{
    float: left;
    width:25%;
    padding-left: 40px;
    padding-right: 15px;
}
#contain-right
{
    float: right;
    width:25%;
    padding-right: 125px;
}
#contain-middle
{
    float: right;
    width:25%;
    padding-right: 50px;
}
#page-content
{
    position: relative;
    top: 200px;
}
